{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "@mohak34/opencode-notifier@latest"
  ],
  "mcp": {
    "enode": {
      "type": "remote",
      "url": "https://emcp.production.enode.com/mcp",
      "timeout": 2000
    },
    "entsoe": {
      "type": "remote",
      "url": "https://entsoemcp.com/mcp"
    },
    "chrome-devtools": {
      "type": "local",
      "command": ["npx", "-y", "chrome-devtools-mcp@latest"]
    }
  },
  "theme": "system",
  "lsp": true
}
