{{- $persemail := promptStringOnce . "persemail" "Personal email address" "github@danhughes.dev" -}}
{{- $workemail := promptStringOnce . "workemail" "Work email address" -}}
{{- $gitsigningkey := promptStringOnce . "gitsigningkey" "1Password git signing key (leave empty to disable signing)" "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKFfB1MJMVHebVDoYMkhA+GNmgEngOW7WvcLeSL3uhxK" -}}
{{- $installDev := promptBoolOnce . "installDev" "Install developer tooling (VSCode, golang, Docker etc)" true -}}
{{- $installDesktop := promptBoolOnce . "installDesktop" "Install desktop apps (Raycast, Spotify, Slack etc)" true -}}
{{- $resetDock := promptBoolOnce . "resetDock" "Reset dock (Unpin all, auto-hide)" true -}}
{{- $setwallpaper := promptBoolOnce . "setWallpaper" "Set wallpaper" true -}}
{{- $sudoTouchID := promptBoolOnce . "sudoTouchID" "Use TouchID for sudo" true -}}

[data]
    persemail = {{ $persemail | quote }}
    workemail = {{ $workemail | quote }}
    gitsigningkey = {{ $gitsigningkey | quote }}
    installDev = {{ $installDev }}
    installDesktop = {{ $installDesktop }}
    resetDock = {{ $resetDock }}
    setwallpaper = {{ $setwallpaper }}
    sudoTouchID = {{ $sudoTouchID }}
[diff]
    exclude = ["externals"]
