{{- $persemail := promptStringOnce . "persemail" "Personal email address" "github@danhughes.dev" -}}
{{- $workemail := promptStringOnce . "workemail" "Work email address" -}}
{{- $gitsigningkey := promptStringOnce . "gitsigningkey" "1Password git signing key (leave empty to disable signing)" "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKFfB1MJMVHebVDoYMkhA+GNmgEngOW7WvcLeSL3uhxK" -}}

{{- $brewfileChoices := list -}}
{{- range (glob (joinPath .chezmoi.sourceDir "lib/Brewfile-*")) -}}
{{-   $brewfileChoices = append $brewfileChoices (base .) -}}
{{- end -}}
{{- $brewfiles := promptMultichoiceOnce . "brewfiles" "Which Brewfiles would you like to install" $brewfileChoices $brewfileChoices -}}

{{- $resetDock := promptBoolOnce . "resetDock" "Reset dock (Unpin all, auto-hide)" true -}}
{{- $setWallpaper := promptBoolOnce . "setWallpaper" "Set wallpaper" true -}}
{{- $sudoTouchID := promptBoolOnce . "sudoTouchID" "Use TouchID for sudo" true -}}
{{- $opencodeFastModel := promptStringOnce . "opencodeFastModel" "Opencode fast model" "google/gemini-3-flash-preview" -}}
{{- $opencodeSmartModel := promptStringOnce . "opencodeSmartModel" "Opencode smart model" "google/gemini-3-pro-preview" -}}

[data]
    persemail = {{ $persemail | quote }}
    workemail = {{ $workemail | quote }}
    gitsigningkey = {{ $gitsigningkey | quote }}
    brewfiles = {{ $brewfiles | toJson }}
    resetDock = {{ $resetDock }}
    setWallpaper = {{ $setWallpaper }}
    sudoTouchID = {{ $sudoTouchID }}
    opencodeFastModel = {{ $opencodeFastModel | quote }}
    opencodeSmartModel = {{ $opencodeSmartModel | quote }}
[diff]
    exclude = ["externals"]
