{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

{{ if .resetDock }}
# Empty dock
defaults delete com.apple.dock persistent-apps 2>/dev/null || true
defaults write com.apple.dock persistent-apps -array '()'
{{ end }}

# Enable auto-hide
defaults write com.apple.dock autohide -bool true

# Disable recent apps in Dock
defaults write com.apple.dock show-recents -bool false

# Mute startup sound
sudo nvram StartupMute=%01

# Set main colour to graphite
defaults write -g AppleAccentColor -int -1

# Set theme to auto
defaults write -g AppleInterfaceStyleSwitchesAutomatically -bool true

# Restart Dock to apply changes
killall Dock 2>/dev/null || true

# Disable click to show desktop
defaults write com.apple.WindowManager EnableStandardClickToShowDesktop -bool false

{{ if .setWallpaper }}
if [ ! -f $HOME/Pictures/wallpaper.jpeg ]; then
  wget -O $HOME/Pictures/wallpaper.jpeg https://danhughes.dev/wallpaper
fi
osascript -e 'tell application "Finder" to set desktop picture to POSIX file "'"$HOME/Pictures/wallpaper.jpeg"'"'
{{ end }}

{{ end -}}
