{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

{{ if .resetDock }}
# Empty dock
m dock prune

# Enable auto-hide
m dock autohide YES

# Mute startup sound
sudo nvram StartupMute=%01

# Set main colour to grey
m appearance maincolor graphite

# Set theme to auto
defaults write -g AppleInterfaceStyleSwitchesAutomatically -bool true
{{ end }}

{{ if .setwallpaper }}
wget -O $HOME/Pictures/wallpaper.jpeg https://danhughes.dev/wallpaper
m wallpaper $HOME/Pictures/wallpaper.jpeg
{{ end }}

{{ end -}}
