{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

if [ -s "/opt/homebrew/opt/nvm/nvm.sh" ]; then
    source "/opt/homebrew/opt/nvm/nvm.sh"
    nvm install --lts
    nvm use --lts
fi

{{ end -}}
