{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

{{ if .installDev }}
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && source "/opt/homebrew/opt/nvm/nvm.sh"
nvm install --lts
nvm use --lts
{{ end }}

{{ end -}}
