{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Brewfile hash: {{ include "lib/Brewfile" | sha256sum }}

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --quiet --no-lock --file={{ joinPath .chezmoi.sourceDir "lib/Brewfile" | quote }}
{{ end -}}
